fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
pytesseract==0.3.13
Pillow==11.1.0
sqlalchemy==2.0.36
aiosqlite==0.20.0
pydantic==2.10.4
httpx==0.28.1
python-dotenv==1.0.1
isbnlib==3.10.14
setuptools>=75.0.0
beautifulsoup4==4.12.3
